<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ホーム | ダンカグライクMint鯖</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container mt-5 px-0">
      <div class="title-container">
        <h1 class="title">ダンカグライク　Mint鯖</h1>
        <div class="search-container">
          <div class="select search-options">
            <select id="searchBy" class="select">
              <option value="name"><p>タイトル名 (By Name)</p></option>
              <option value="publisher"><p>製作者 (By Publisher)</p></option>
            </select>
          </div>
          <input
            type="text"
            id="search"
            class="input"
            placeholder="Search for an item..."
          />
        </div>
        <div class="title-tools"></div>
      </div>

      <p id="resultCount">Searched <%= contents.length %> result(s)</p>

      <div class="table-wrapper">
        <table class="table is-striped">
          <thead>
            <tr>
              <th class="sortable">ID <span class="sort-arrow"></span></th>
              <th class="sortable"><p>タイプ</p><p>(Type)</p> <span class="sort-arrow"></span></th>
              <th class="sortable"><p>タイトル</p><p>(Title)</p> <span class="sort-arrow"></span></th>
              <th class="sortable">
                <p>製作者</p><p>(Publisher)</p> <span class="sort-arrow"></span>
              </th>
              <th class="sortable numeric">
                <p>日付</p><p>(Date)</p> <span class="sort-arrow"></span>
              </th>
              <th class="sortable numeric">
                <p>ダウンロード数</p><p>(Downloads)</p> <span class="sort-arrow"></span>
              </th>
              <th class="sortable numeric">
                <p>評価</p><p>(Score)</p> <span class="sort-arrow"></span>
              </th>
              <th><p>難易度</p><p>(Difficulty)</p></th>
              <th class="sortable">Lua <span class="sort-arrow"></span></th>
              <th><p>リンク</p><p>(Link)</p></th>
            </tr>
          </thead>
          <tbody>
            <% contents.forEach(content => { %>
            <tr>
              <td><%= content.id %></td>
              <td>
                <%= content.contentType === 0 ? "曲 \nSongs" : content.contentType
                === 1 ? "ノーツスキン\nNoteSkins" : content.contentType === 2 ? "サウンドエフェクト\nSoundEffects"
                : content.contentType === 3 ? "GlobalLua" : "その他\nUnknown" %>
              </td>
              <td><%= content.title %></td>
              <td><%= content.publisher %></td>
              <td style="white-space: nowrap"><%= content.date %></td>
              <td><%= content.downloadCount %></td>
              <td><%= content.voteAverageScore %></td>
              <td class="difficulty">
                <span class="diff" id="diff-easy">
                  <% if (content.songInfo.difficulties[0] === -1) { %>X<% } 
                  else if (content.songInfo.difficulties[0] === 0) { %><% }
                  else
                  { %><%= content.songInfo.difficulties[0] %><% } %>
                </span>
                <span class="diff" id="diff-normal">
                  <% if (content.songInfo.difficulties[1] === -1) { %>X<% }
                  else if (content.songInfo.difficulties[1] === 0) { %><% }
                  else
                  { %><%= content.songInfo.difficulties[1] %><% } %>
                </span>
                <span class="diff" id="diff-hard">
                  <% if (content.songInfo.difficulties[2] === -1) { %>X<% } 
                  else if (content.songInfo.difficulties[2] === 0) { %><% }
                  else
                  { %><%= content.songInfo.difficulties[2] %><% } %>
                </span>
                <span class="diff" id="diff-extra">
                  <% if (content.songInfo.difficulties[3] === -1) { %>X<% } 
                  else if (content.songInfo.difficulties[3] === 0) { %><% }
                  else
                  { %><%= content.songInfo.difficulties[3] %><% } %>
                </span>
                <span class="diff" id="diff-lunatic">
                  <% if (content.songInfo.difficulties[4] === -1) { %>X<% } 
                  else if (content.songInfo.difficulties[4] === 0) { %><% }
                  else
                  { %><%= content.songInfo.difficulties[4] %><% } %>
                </span>
              </td>
              <td><%= content.songInfo.hasLua ? "有\nYes" : "無\nNo" %></td>
              <td>
                <button
                  class="button btn-download is-link"
                  onclick="window.location.href='<%= content.downloadUrl %>'"
                >
                  Download
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
