<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ホーム | ダンカグライク Mint鯖</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container mt-6 px-4">
      <div class="title-container">
        <h1 class="title">ダンカグライク Mint鯖</h1>
        <div></div>
      </div>
      <input
        type="text"
        id="search"
        class="input mb-4"
        placeholder="Search for an item..."
      />
      <p id="resultCount">件数：<%= contents.length %> 件</p>

      <div class="table-wrapper">
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th class="sortable">ID <span class="sort-arrow"></span></th>
              <th class="sortable">タイプ <span class="sort-arrow"></span></th>
              <th class="sortable">タイトル <span class="sort-arrow"></span></th>
              <th class="sortable">発行者 <span class="sort-arrow"></span></th>
              <th class="sortable numeric">日付 <span class="sort-arrow"></span></th>
              <th class="sortable numeric">ダウンロード数 <span class="sort-arrow"></span></th>
              <th class="sortable numeric">評価 <span class="sort-arrow"></span></th>
              <th>難易度</th>
              <th class="sortable">Lua <span class="sort-arrow"></span></th>
              <th>リンク</th>
            </tr>
          </thead>
          <tbody>
            <% contents.forEach(content => { %>
            <tr>
              <td><%= content.id %></td>
              <td>
                <%= content.contentType === 0 ? "譜面" : content.contentType
                === 1 ? "ノーツスキン" : content.contentType === 2 ? "SE"
                : content.contentType === 3 ? "GlobalLua" : "その他" %>
              </td>
              <td><%= content.title %></td>
              <td><%= content.publisher %></td>
              <td style="white-space: nowrap"><%= content.date %></td>
              <td><%= content.downloadCount %></td>
              <td><%= content.voteAverageScore %></td>
              <td class="difficulty">
                <span class="diff" id="diff-easy">
                  <% if (content.songInfo.difficulties[0] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[0] %><% } %>
                </span>
                <span class="diff" id="diff-normal">
                  <% if (content.songInfo.difficulties[1] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[1] %><% } %>
                </span>
                <span class="diff" id="diff-hard">
                  <% if (content.songInfo.difficulties[2] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[2] %><% } %>
                </span>
                <span class="diff" id="diff-extra">
                  <% if (content.songInfo.difficulties[3] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[3] %><% } %>
                </span>
                <span class="diff" id="diff-lunatic">
                  <% if (content.songInfo.difficulties[4] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[4] %><% } %>
                </span>
              </td>
              <td><%= content.songInfo.hasLua ? "有" : "無" %></td>
              <td>
                <button
                  class="button btn-download is-link"
                  onclick="window.location.href='<%= content.downloadUrl %>'"
                >
                  Download
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
